
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */

@import url('https://fonts.googleapis.com/css?family=Lato:100|Quicksand|Work+Sans:100,500');

* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  font-size: 18px;
  color: #1b2834;

}

/* ==========================================================================
   Typography:
   ========================================================================== */
p{
  line-height: 1.4;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  font-size: 72px;
  letter-spacing: .32em;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px #000000;
}

a{
  text-decoration: none;
}

a:hover{
  color: #5c1f1b;
}

/* ==========================================================================
   Layout:
   ========================================================================== */
.slide {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.description {
  width: 40%;
  background-color: white;
}
.imgcard {
  width: 40%;
}
/* ==========================================================================
Header:
========================================================================== */
header{
  padding-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/aerial_1.jpg');
  background-attachment: fixed;
	height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav{
  nav {
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	background-color: white;
  	z-index: 100;
  }
}

nav li {
	display: inline-block;
	padding: 3px 60px;
  color: #1b2834;
  text-align: center;
}

nav a {
	display: inline-block;  
	text-transform: uppercase;
  text-align: center;
}
/* ==========================================================================
 Buttons:
 ========================================================================== */
